@model E_Shop.Models.OrderDetail
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col">
        <h2 class="display-4">Edit Order</h2>
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg", OnComplete = "clearAll" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.OrderId)


            <div class="row mb-2">
                @Html.LabelFor(x => x.CustomerId, @*"CustomerId",*@ new { @class = "col-form-label col-form-label-sm col-2 r" })
                <div class="col-6">
                    @Html.DropDownListFor(x => x.CustomerId,ViewBag.Customers as SelectList, "----Select-----",new { @class = "form-control form-control-sm r" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-2">
                @Html.LabelFor(x => x.ProductId,@*"ProductId",*@ new { @class = "col-form-label col-form-label-sm col-2 r" })
                <div class="col-6">
                    @Html.DropDownListFor(x => x.ProductId,ViewBag.Products as SelectList, "----Select-----", new { @class = "form-control form-control-sm form-select" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-2">
                @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-form-label-sm col-2 r" })
                <div class="col-6">
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control form-control-sm r" })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-2">
                @Html.LabelFor(x => x.Quantity, htmlAttributes: new { @class = "col-form-label col-form-label-sm col-2 r" })
                <div class="col-6">
                    @Html.EditorFor(x => x.Quantity, new { htmlAttributes = new { @class = "form-control form-control-sm r" } })
                </div>
                <div class="col-4">
                    @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
                </div>

                <div class="row mb-2">
                    @Html.LabelFor(x => x.OrderDate, new { @class = "col-form-label col-form-label-sm col-2 r" })
                    <div class="col-6">
                        @Html.EditorFor(x => x.OrderDate, new { htmlAttributes = new { @class = "form-control", placeholder = "SalesDate", type = "date" }})
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.OrderDate, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="row mb-2">
                    <div class="col-10 offset-2">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-danger"><i class="bi bi-cancle"></i>Cancel</button>
                    </div>
            </div>


            </div>

        }

    </div>
    <div>
        <a href="@Url.Action("Index","OrderDetails")" class="btn btn-link btn-sm"><i class="bi bi-arrow-left"></i> Back to list</a>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        $("#form0").attr("enctype", "multipart/form-data")
        function clearAll() {
            $("#form0").trigger("reset");
        }
    </script>
}




